{% extends 'ecommerce_app/base.html' %}



{% block content %}

<div class="container">
    <div class="row">
        {% for order in orders %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" data-bs-toggle="tooltip" title="Click to edit">
                            {{ order.customer_name }}
                        </h5>
                        <p>
                            Product: {{ order.product_name }}<br>
                            Quantity: {{ order.quantity }}<br>
                            Ordered on: {{ order.order_date}}
                        </p>
                        <a href="{% url 'order_edit' order.pk %}" class="btn btn-info">Edit</a>
                        <a href="{% url 'order_delete' order.pk %}" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
<!-- <h2><a href="#">{{ order.title }}</a></h2>
<p><a href="#">click to know more</a></p> -->
<!-- <h2><a href="{% url 'order_detail' id=order.pk %}">{{ order.title }}</a></h2>
        <p><a href="{% url 'order_detail' id=order.pk %}">click to know more</a></p> -->
